<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hiber.hiber">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon,UnusedAttribute"
        tools:targetApi="29">

        <!-- 异常Activity -->
        <activity
            android:name="com.hiber.ui.ActivityNotFound"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 默认Activity -->
        <activity
            android:name="com.hiber.ui.HiberActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- lint Activity -->
        <activity
            android:name="com.hiber.ui.LintActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>
