<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiber.hiber">

    <application>
        <activity
            android:name="com.hiber.ui.HiberActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
