<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiber.hiber">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>

        <!-- 异常Activity -->
        <activity
            android:name="com.hiber.ui.ActivityNotFound"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <!-- 默认Activity -->
        <activity
            android:name="com.hiber.ui.HiberActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <!-- lint Activity -->
        <activity
            android:name="com.hiber.ui.LintActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
